# Keep the visitor ZIP focused on the app, documentation, and licenses.
# These files remain available in Git clones and the repository.
.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore
tests export-ignore
start-local.cmd export-ignore
